$primary-color: rgba(255, 255, 255, 0.8);
$border-color: #363c57;
$background-color: #292d41;
$border-background-color: #2224304d;
$title-size: 30px;
$subtitle-size: 22px;
$para-size: 14px;
$current-tab-color: #3f4354;
